@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    color: white;
    font-family: 'Source Serif 4', serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
/* sing-in form */
.cont{
    display: flex;
    margin: auto;
    border-radius: 10px;
    width: 40%;
    flex-direction: column;
    background: rgba(17, 17, 17, 0.8);
    padding: 10px;

}

.singInform{
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.main{
    margin: 20px;
    padding: 10px 10px 30px 10px;
}
.singInform input{
    flex: 1;
    border: 2px solid white;
    height: 60px;
    margin: 10px 0 10px 0;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    color: white;
    padding: 8px;
    padding-left: 10px;
    font-size: 28px;
    font-weight: 500;
    outline: 0;
}
.main .button{
    background: #db0001;
    border: 0;
    width: 100%;
    border-radius: 10px;
    outline: 0;
    font-weight: 700;
    font-size: 50px;
    color: white;
    font-size: 15px;
    height: 60px;
    cursor: pointer;
}
.main h3{
    margin-top: 30px;
    margin-bottom: 30px;
}

.main button{
    border: none;
    background: transparent;
    color: blue;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}